code/user/test.html
code/user/style.css
code/user/signup.html
code/user/product.php
code/user/login.php
code/user/index.php
code/user/index.html
code/user/.hintrc
code/php/side.php
code/php/search.php
code/php/logout.php
code/php/header.php
code/php/getProducts.php
code/php/getCategories.php
code/php/footer.php
code/js/sidebar.js
code/js/scripts.js
code/js/getProducts.js
code/js/getCategories.js
code/css/style_user.css
code/css/login.css
code/css/btn_login.css
code/css/btn_buy.css
code/js/scripts.js
