.main{
    padding: 65px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    justify-self: center;
}

h2{
    font-size: 30px;
    text-align: center;
    color: #333;
}
h3{
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}

table {
    justify-self: center;
    width: 50%;
    border-collapse: collapse;
    
    margin: 20px 0;
}

table tr{
    border: 1px solid #ddd;
}

table th, table td {
    padding: 12px 15px;
    
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}
